**/build/*
**/target/*
**/out/*
.idea
.gradle
*.iml
dependency-reduced-pom.xml
.flattened-pom.xml
*.log
*.local.properties
node_modules
package-lock.json
.DS_Store
/.bloop
.classpath
.project
/.metals
.settings
.dotty-ide-artifact
.dotty-ide.json
.factorypath
